* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.hero__container {
    background: url(./images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar {
    /* width: 60%; */
    /* margin-left: 450px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 15px 45px;
}

.user_icon {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: none;
}

.navbar_links {
    text-decoration: none;
    color: white;
}

.navbar_engine {
    gap: 20px;
    display: flex;
}

.banner_heading {
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    padding: 15px 45px;
    display: flex;
    flex-direction: column;
    height: calc(60vh, 60px);
}

.banner_heading img {
    width: 300px;
    /* height: 50px; */
}

.banner_heading h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.banner_container {
    padding: 10px;
    width: 50%;
    /* margin-top: 30px;
    margin-left: 675px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 30px; */
    background-color: white;
    border-radius: 15px;
    gap: 10px;
}

.location,
.searchbar {
    padding: 6px;
    border: none;
    border-radius: 15px;
    width: 96%;
    outline: none;
}

.location {
    width: 35%;
    border-right: 2px solid gray;
}

.searchbar {
    width: 65%;
}

.promo__container {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 50px; */
    margin: 3rem auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 90%;
}

.promo_card {
    width: 350px;
    /* height: 300px; */
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid gray;
    border-color: 2px solid black;
}

.promo_card:hover {
    scale: 1.05;
    transition: 0.5s;
    cursor: pointer;
}

.promo_card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center;
}

.promo_content {
    padding: 10px;
}

.promo_content h3 {
    font-size: 20px;
    font-weight: 400;
}

.promo_content p {
    font-size: 12px;

}

.adv__container h2 {
    font-weight: 500;
    margin-left: 20%;
}

.adv__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.headline_para {
    /* margin-left: 410px;
    margin-right: 410px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 15px;
    flex-wrap: wrap;
    gap: 3rem;
    line-height: 30px;
}

.headline_para span:nth-child(2) {
    color: #ff7e8b;
    font-size: 13px;
    cursor: pointer;
}

.adv_items {
    /* border: 1px solid gray;
    border-color: 2px solid black; */
    width: 250px;
    /* height: 300px; */
    border-radius: 15px;
    gap: 1rem;
    /* margin-top: 1rem; */
    position: relative;
}

.adv_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.5rem;
    /* border-radius: 15px; */
}

.adv_items img {
    width: 100%;
    /* gap: 2rem; */
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.adv_content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.8rem;
    z-index: 10;
}

.adv_content h3 {
    font-weight: 400;
    letter-spacing: 0.5px;
    /* background:transparent; */
    z-index: 7;
}

.overlay {
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.05) 50%,
            rgba(0, 0, 0, 0.05) 85%);
    z-index: 5;
}

.getapp__container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    /* height: 450px; */
    background-color: rgb(255, 251, 247);
    padding: 3rem 6rem;
    justify-content: center;
    align-items: center;
}

.getapp_content {
    justify-content: center;
    align-items: center;
    /* margin-left: 400px; */
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.bannerimg {
    flex: 2;
}

.bannerimg img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.right {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.getapp_text h1 {
    font-weight: 200;
    font-size: 60px;
}

.getapp_text span {
    font-weight: 100px;
}

.getapp_buttons {
    display: flex;
}

.getapp_input {
    font-weight: 100px;
}

.getapp_img img {
    height: 50px;
}

.getapp_buttons input {
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 79, 95);
    ;
}

.getapp_buttons {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.getapp_input input {
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
    padding: 10px 12px;
}

.getapp_input button {
    border: none;
    background-color: rgb(239, 79, 95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.getapp_input {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.getapp_img p {
    font-size: 400;
    color: gray;
}

.Footer {
    width: 100%;
    /* margin-top: 30px; */
    display: flex;
    /* height: 450px; */
    background-color: whitesmoke;
    opacity: 110%;
    padding: 3rem 6rem;
    justify-content: center;
    align-items: center;
}

.Fcontent {
    justify-content: center;
    align-items: center;
    /* margin-left: 400px; */
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer_top {
    display: flex;
    align-content: space-between;
    width: 90%;
    justify-content: space-between;
}

.logoF {
    height: 25px;
}

.righttop {
    display: flex;
    gap: 1.5rem;
}

.righttop button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.Footer_middle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    width: 90%;
    margin: auto;
    padding: 3rem 0;
}

.footer__link {
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-weight: 300;
}

.link_items {
    display: flex;
    flex-direction: column;
}

.link_items h5 {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 4px;
    letter-spacing: 0.8px;
}

.footer_logos {
    width: 90%;
    padding-bottom: 20px;
}

.social_links button i {
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_links button {
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
}

.disclaimer {
    width: 90%;
    margin: auto;
    color: gray;
    font-size: 12px;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
}

.Assignment {
    width: 100%;
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.assgn_content {
    /* margin-left: 275px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70%;
    gap: 2rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

.c_top h1 {
    font-size: 2rem;
    font-weight: 500;
}

.drop {
    display: flex;
    width: 70%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(232, 228, 228);
    border-radius: 5px;
    background-color: white;
}

.drop h2 {
    flex: 1;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    line-height: 26px;
}

.drop button {
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: white;
}

.localities__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
}

/* 
.localities_box {
    width: 60%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    /* margin-left: 400px; */
/* padding-top: 30px;
    /* padding-bottom: 30px; }
    */

.popular_localities {
    /* margin-top: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 60%;
}

.localities__container h4 {
    font-size: 25px;
    font-weight: 300;
}

.localities_item {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(232, 228, 228);
    border-radius: 5px;
    background-color: white;
}

.localities_content {
    font-weight: 300;
    /* margin-left: 5px; */
}

.popular_item button {
    background-color: white;
}

.localities_content h5 {
    font-size: 20px;
    font-weight: 300;
}





@media only screen and (max-width:500px) {
    .navbar {
        display: flex;
    }

    .navbar_links {
        display: none;
    }

    .hero__container {
        min-height: 80vh;
    }

    .navbar {
        padding: 16px;
    }

    .user_icon {
        display: flex;
        background: white;
    }

    .banner_container {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        height: calc(80vh - 60px);
    }

    .location,
    .searchbar {
        padding: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 95%;
    }

    .headline_para {
        line-height: 15px;
    }

    .localities__container {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .adv__container {
        display: flex;
    }

    .localities_item {
        width: 100%;
    }

    .localities__container h4 {
        font-size: 20px;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
        justify-content: center;
    }

    .drop {
        width: 100%;
    }
    .Fcontent{
        width: auto;
    }
    .footer_top{
        align-items: center;
        justify-content: space-between;
        gap: 10%;
    }
}

@media only screen and (max-width: 900px) {
    .Footer_middle {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .Footer_middle {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 300px) {
    .Footer_middle {
        grid-template-columns: repeat(1, 1fr);
    }
}